<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <button mat-button [routerLink]="'/'">
      Home<mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button mat-button class="menu-btn" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-button [routerLink]="'/user/details'">My account</button>
      <a mat-button (click)="logout()">Logout</a>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>
